{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenAPI definition for automation api",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.kameleoon.com"
    }
  ],
  "tags": [
    {
      "description": "This is an object representing a Kameleoon account.You can retrieve it to view its properties, such as its current e-mail address or locale.With proper authorization, your application can read and update an account and profile settings.<aside class=\"notice\"> Not all settings are exposed via the API. See the API reference for details. </aside>",
      "name": "Account"
    },
    {
      "description": "Feature flag is used to  help our clients implement new features, test and deploy them viaour SDK. This service allows you to create and configure the feature flag which will be used in the source code of your feature.",
      "name": "FeatureFlag"
    },
    {
      "description": "You can use your account to set up multiple websites.This is helpful if you want to test your website and its mobile version or if you want to try Kameleoon on your site in a pre-production environment,It allows you to create different testing environments.\n",
      "name": "Site"
    },
    {
      "description": "Custom data is an advanced tool that lets you target your customers in a unique way using data that is already available,such as user account information.",
      "name": "CustomData"
    },
    {
      "description": "Experiment is an A/B test which can be targeted to a specific audience or any other audience. Kameleoon has several types of experiments: `Classic`, `Multivariate test (MVT)`, `Server-side` and the one that suits the best can be used to achieve the best results.",
      "name": "Experiment"
    },
    {
      "description": "To measure the efficiency of an experiment or a personalization, it must be linked to one or several goals. All goals can be managed through Kameleoon interface or Automation API. There are variety of different goals you can choose from to better measure the results.",
      "name": "Goal"
    },
    {
      "description": "This is an object representing an image",
      "name": "Image"
    },
    {
      "description": "This is an object representing a key moment. Please note that `KeyMoment` has now been renamed to `Triggers`.",
      "name": "KeyMoment"
    },
    {
      "description": "KeyPage allows you to target visitors that have visited a particular page, or multiple pages on your website.",
      "name": "KeyPage"
    },
    {
      "description": "Web personalization tailors the experience for each visitor to improve your conversion rate.\nThe personalization object contains all vital information about a personalization as well as segments and variations used in it.\n",
      "name": "Personalization"
    },
    {
      "description": "This is an object representing a projectThemeConfig",
      "name": "ProjectThemeConfig"
    },
    {
      "description": "This is an object representing recommender block",
      "name": "RecommenderBlock"
    },
    {
      "description": "Referrer is an advanced tool that allows you to target visitors according to acquisition methods that lead them to your website.\nKameleoon automatically creates 5 default channels: `Bing`, `Baidu`, `Google`, `Yahoo` and `Google Adwords`.\n",
      "name": "Referrer"
    },
    {
      "description": "Segmenting allows you to effectively target visitors.You can create, modify, and duplicate segments using the Segment Builder tool in Kameleoon’s backend or through our Automation API.",
      "name": "Segment"
    },
    {
      "description": "This is an object representing studio recommender block",
      "name": "StudioRecommenderBlock"
    },
    {
      "description": "This is an object representing tag",
      "name": "Tag"
    },
    {
      "description": "TargetingRule is a system entity that combines segments (user groups) and triggers (activation conditions) to define precise targeting rules for experiments.",
      "name": "TargetingRule"
    },
    {
      "description": "This is an object representing a theme",
      "name": "Theme"
    },
    {
      "description": "A variation is a modified version of your webpage that can be edited for experiments or personalization.\nWhen you add a new variation, Kameleoon creates a copy of the original page from which you started.All changes will be saved in the variation, which will include all your edits when the test starts.",
      "name": "Variation"
    },
    {
      "description": "This is an object representing a widget",
      "name": "Widget"
    },
    {
      "description": "This is an object representing a widget studio",
      "name": "WidgetStudio"
    },
    {
      "description": "This is an object representing widget studio template",
      "name": "WidgetStudioTemplate"
    },
    {
      "name": "Audience",
      "description": "Audience refers to statistical information regarding the number of visits, conversions, and other metrics related to a specific segment. Gaining insights into your website's audience is essential for effectively adjusting segments."
    },
    {
      "name": "Data",
      "description": "Web personalization involves offering visitors a tailored experience to optimize your conversion rate.\nPersonalization object contains information about a personalization, as well as the segments and variations used in it.\n"
    },
    {
      "name": "Raw Export",
      "description": "Start a raw data exportation for experiment or personalization, which will be sent to the given emails."
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "description": "Get list of all accounts",
        "operationId": "get-all-accounts",
        "parameters": [
          {
            "in": "query",
            "name": "paramsIO",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RequestParams"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get all accounts",
        "tags": [
          "Account"
        ]
      },
      "post": {
        "description": "Create new account",
        "operationId": "create-account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create a new account",
        "tags": [
          "Account"
        ]
      }
    },
    "/accounts/{accountId}": {
      "delete": {
        "description": "Delete an account",
        "operationId": "delete-account",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete an account",
        "tags": [
          "Account"
        ]
      },
      "get": {
        "description": "Get an account with a given id. To use optionalFields check out [this guide](/apis/automation-api-rest/tutorials/how-to-use-optionalfields-in-queries).",
        "operationId": "get-account",
        "parameters": [
          {
            "description": "The ID of the account object",
            "example": 100000,
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "optionalFields",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get an account",
        "tags": [
          "Account"
        ]
      },
      "patch": {
        "description": "Update several fields of a account",
        "operationId": "partial-update-account",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonNode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Partially update a account",
        "tags": [
          "Account"
        ]
      }
    },
    "/feature-flags/{experimentId}/results/share": {
      "post": {
        "description": "Create shared request for viewing feature flag's result page without authorization. Learn how to share your results in [this tutorial](../tutorials/retrieving-experiment-results).",
        "operationId": "share-feature-flags-results",
        "parameters": [
          {
            "in": "path",
            "name": "experimentId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataRequestParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SharedResultsOutput"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Share feature flag results",
        "tags": [
          "FeatureFlag"
        ]
      }
    },
    "/sites": {
      "get": {
        "description": "Get list of all sites of the customer. To use optionalFields check out [this guide](/apis/automation-api-rest/tutorials/how-to-use-optionalfields-in-queries).",
        "operationId": "get-all-sites",
        "parameters": [
          {
            "in": "query",
            "name": "paramsIO",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RequestParams"
            }
          },
          {
            "in": "query",
            "name": "optionalFields",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Site"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get all sites",
        "tags": [
          "Site"
        ]
      },
      "post": {
        "description": "Create new site with given parameters",
        "operationId": "create-site",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Site"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create new site",
        "tags": [
          "Site"
        ]
      }
    },
    "/sites/byCode/{siteCode}": {
      "get": {
        "description": "Get one site with given site code. To use optionalFields check out [this guide](/apis/automation-api-rest/tutorials/how-to-use-optionalfields-in-queries).",
        "operationId": "get-site-by-code",
        "parameters": [
          {
            "in": "path",
            "name": "siteCode",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "optionalFields",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get a site by code",
        "tags": [
          "Site"
        ]
      }
    },
    "/sites/{siteCode}/hash": {
      "patch": {
        "description": "Get the hashCode generated from the content of the original application file",
        "operationId": "get-site-hash",
        "parameters": [
          {
            "in": "path",
            "name": "siteCode",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HashTypeInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/JsonNode"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get a hash code of the contents of the original application file",
        "tags": [
          "Site"
        ]
      }
    },
    "/sites/{siteId}": {
      "delete": {
        "description": "Delete site with given id",
        "operationId": "delete-site",
        "parameters": [
          {
            "in": "path",
            "name": "siteId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete site",
        "tags": [
          "Site"
        ]
      },
      "get": {
        "description": "Get site belonging to the given id. To use optionalFields check out [this guide](/apis/automation-api-rest/tutorials/how-to-use-optionalfields-in-queries).",
        "operationId": "get-site",
        "parameters": [
          {
            "in": "path",
            "name": "siteId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "optionalFields",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get a site",
        "tags": [
          "Site"
        ]
      },
      "patch": {
        "description": "Update several fields of site",
        "operationId": "partial-update-site",
        "parameters": [
          {
            "in": "path",
            "name": "siteId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Partially update site, when only information that is passed is updated",
        "tags": [
          "Site"
        ]
      },
      "put": {
        "description": "Update site with given id",
        "operationId": "update-site",
        "parameters": [
          {
            "in": "path",
            "name": "siteId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Site"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update site",
        "tags": [
          "Site"
        ]
      }
    },
    "/custom-datas": {
      "get": {
        "description": "Get a list of all custom data. To use optionalFields check out [this guide](/apis/automation-api-rest/tutorials/how-to-use-optionalfields-in-queries).",
        "operationId": "get-all-custom-data",
        "parameters": [
          {
            "in": "query",
            "name": "paramsIO",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RequestParams"
            }
          },
          {
            "in": "query",
            "name": "optionalFields",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomData"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get all custom data",
        "tags": [
          "CustomData"
        ]
      },
      "post": {
        "description": "Create a new custom data with given parameters",
        "operationId": "create-custom-data",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomData"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create a new custom data",
        "tags": [
          "CustomData"
        ]
      }
    },
    "/custom-datas/{customDataId}": {
      "delete": {
        "description": "Delete custom data belonging to this given Id",
        "operationId": "delete-custom-data",
        "parameters": [
          {
            "description": "ID of the custom data object",
            "example": 100000,
            "in": "path",
            "name": "customDataId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete custom data",
        "tags": [
          "CustomData"
        ]
      },
      "get": {
        "description": "Get custom data with the given id. To use optionalFields check out [this guide](/apis/automation-api-rest/tutorials/how-to-use-optionalfields-in-queries).",
        "operationId": "get-custom-data",
        "parameters": [
          {
            "description": "Id of the custom data object",
            "example": 100000,
            "in": "path",
            "name": "customDataId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "optionalFields",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomData"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get a custom data",
        "tags": [
          "CustomData"
        ]
      },
      "patch": {
        "description": "Update several fields of the custom data. To use optionalFields check out [this guide](/apis/automation-api-rest/tutorials/how-to-use-optionalfields-in-queries).",
        "operationId": "partial-update-custom-data",
        "parameters": [
          {
            "description": "The ID of the custom data object",
            "example": 100000,
            "in": "path",
            "name": "customDataId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "optionalFields",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomDataUpdateIO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomData"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Partially update the custom data",
        "tags": [
          "CustomData"
        ]
      },
      "put": {
        "description": "Update the custom data belonging to this Id",
        "operationId": "update-custom-data",
        "parameters": [
          {
            "description": "Id of the custom data object",
            "example": 100000,
            "in": "path",
            "name": "customDataId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomData"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update custom data",
        "tags": [
          "CustomData"
        ]
      }
    },
    "/experiments": {
      "get": {
        "description": "Get a list of all experiments. To use optionalFields check out [this guide](/apis/automation-api-rest/tutorials/how-to-use-optionalfields-in-queries).",
        "operationId": "get-all-experiments",
        "parameters": [
          {
            "in": "query",
            "name": "paramsIO",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RequestParams"
            }
          },
          {
            "in": "query",
            "name": "optionalFields",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Experiment"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get all experiments",
        "tags": [
          "Experiment"
        ]
      },
      "post": {
        "description": "Create a new experiment with the given parameters",
        "operationId": "create-experiment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Experiment"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Experiment"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create a new experiment",
        "tags": [
          "Experiment"
        ]
      }
    },
    "/experiments/export": {
      "get": {
        "description": "Export experiments depending on a specified format. To use optionalFields check out [this guide](/apis/automation-api-rest/tutorials/how-to-use-optionalfields-in-queries).",
        "operationId": "export-experiments",
        "parameters": [
          {
            "in": "query",
            "name": "paramsIO",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RequestParams"
            }
          },
          {
            "in": "query",
            "name": "optionalFields",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Export experiments",
        "tags": [
          "Experiment"
        ]
      }
    },
    "/experiments/{experimentId}": {
      "delete": {
        "description": "Delete experiment with given id",
        "operationId": "delete-experiment",
        "parameters": [
          {
            "in": "path",
            "name": "experimentId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete experiment",
        "tags": [
          "Experiment"
        ]
      },
      "get": {
        "description": "Get an experiment associated with the given Id. To use optionalFields check out [this guide](/apis/automation-api-rest/tutorials/how-to-use-optionalfields-in-queries).",
        "operationId": "get-experiment",
        "parameters": [
          {
            "in": "path",
            "name": "experimentId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "optionalFields",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Experiment"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get an experiment",
        "tags": [
          "Experiment"
        ]
      },
      "patch": {
        "description": "Update several fields of an experiment",
        "operationId": "partial-update-experiment",
        "parameters": [
          {
            "in": "path",
            "name": "experimentId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "description": "Action to change the status of experiment",
            "in": "query",
            "name": "action",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVATE",
                "PAUSE",
                "RESUME",
                "STOP",
                "SCHEDULE",
                "DEACTIVATE",
                "REVERT_TO_DRAFT"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExperimentUpdateIO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Experiment"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Partially update experiment",
        "tags": [
          "Experiment"
        ]
      }
    },
    "/experiments/{experimentId}/clone": {
      "post": {
        "description": "Duplicate an experiment",
        "operationId": "duplicate-experiment",
        "parameters": [
          {
            "in": "path",
            "name": "experimentId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonNode"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Experiment"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Duplicate an experiment",
        "tags": [
          "Experiment"
        ]
      }
    },
    "/experiments/{experimentId}/opportunityDetection": {
      "post": {
        "description": "Run opportunity detection and get winner pairs for experiment",
        "operationId": "opportunity-detection",
        "parameters": [
          {
            "in": "path",
            "name": "experimentId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpportunityDetectionRequestParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WinnerPairIO"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Run opportunity detection",
        "tags": [
          "Experiment"
        ]
      }
    },
    "/experiments/{experimentId}/results/share": {
      "post": {
        "description": "Create shared request for viewing experiment results without authorization. Learn how to share your results in [this tutorial](../tutorials/retrieving-experiment-results).",
        "operationId": "share-experiment-results",
        "parameters": [
          {
            "in": "path",
            "name": "experimentId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataRequestParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SharedResultsOutput"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Share experiment results",
        "tags": [
          "Experiment"
        ]
      }
    },
    "/experiments/{experimentId}/results/shareable-ui-link": {
      "post": {
        "description": "Creates URL link to access the NEW experiment results page. Anyone with the link can view the page.",
        "operationId": "share-experiment-ui",
        "parameters": [
          {
            "in": "path",
            "name": "experimentId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ShareableLinkResponseIO"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Share experiment new result page UI",
        "tags": [
          "Experiment"
        ]
      }
    },
    "/goals": {
      "get": {
        "description": "Get a list of all goals. To use optionalFields check out [this guide](/apis/automation-api-rest/tutorials/how-to-use-optionalfields-in-queries).",
        "operationId": "get-all-goals",
        "parameters": [
          {
            "in": "query",
            "name": "paramsIO",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RequestParams"
            }
          },
          {
            "in": "query",
            "name": "optionalFields",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Goal"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get all goals",
        "tags": [
          "Goal"
        ]
      },
      "post": {
        "description": "Create new goal with given parameters",
        "operationId": "create-goal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Goal"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Goal"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create a new goal",
        "tags": [
          "Goal"
        ]
      }
    },
    "/goals/export": {
      "get": {
        "description": "Export goals based on a specified format. To use optionalFields check out [this guide](/apis/automation-api-rest/tutorials/how-to-use-optionalfields-in-queries).",
        "operationId": "export-goals",
        "parameters": [
          {
            "in": "query",
            "name": "paramsIO",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RequestParams"
            }
          },
          {
            "in": "query",
            "name": "optionalFields",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Export goals",
        "tags": [
          "Goal"
        ]
      }
    },
    "/goals/search": {
      "post": {
        "description": "Search for goals. To use optionalFields check out [this guide](/apis/automation-api-rest/tutorials/how-to-use-optionalfields-in-queries).",
        "operationId": "search-goals",
        "parameters": [
          {
            "in": "query",
            "name": "optionalFields",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Goal"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Search goals",
        "tags": [
          "Goal"
        ]
      }
    },
    "/goals/{goalId}": {
      "delete": {
        "description": "Delete goal with given id",
        "operationId": "delete-goal",
        "parameters": [
          {
            "in": "path",
            "name": "goalId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "423": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Locked"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalResponseObject"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete goal",
        "tags": [
          "Goal"
        ]
      },
      "get": {
[...]
