openapi: 3.0.0
info:
  title: Kameleoon API
  version: 1.0.0
  description: API documentation for Kameleoon Automation and Data APIs.
servers:
  - url: https://api.kameleoon.com
    description: Main Production Server

paths:
  # Automation API
  /accounts:
    get:
      summary: Get all accounts
      operationId: getAllAccounts
      tags:
        - Automation API - Accounts
      parameters:
        - name: paramsIO
          in: query
          required: true
          schema:
            type: object
            description: Query parameters object
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Account"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "423":
          $ref: "#/components/responses/Locked"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      summary: Create a new account
      operationId: createAccount
      tags:
        - Automation API - Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountInput"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "423":
          $ref: "#/components/responses/Locked"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /accounts/{accountId}:
    parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      summary: Get an account
      operationId: getAccount
      tags:
        - Automation API - Accounts
      parameters:
        - name: optionalFields
          in: query
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "423":
          $ref: "#/components/responses/Locked"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      summary: Delete an account
      operationId: deleteAccount
      tags:
        - Automation API - Accounts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "423":
          $ref: "#/components/responses/Locked"
        "500":
          $ref: "#/components/responses/InternalServerError"
    patch:
      summary: Partially update an account
      operationId: updateAccount
      tags:
        - Automation API - Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountInput"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "423":
          $ref: "#/components/responses/Locked"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # Data API
  /data/map/map:
    get:
      summary: Retrieve data for a given key
      operationId: getMap
      tags:
        - Data API - Map
      parameters:
        - name: siteCode
          in: query
          required: true
          schema:
            type: string
            description: Id of the Kameleoon project
        - name: key
          in: query
          required: true
          schema:
            type: string
            description: Unique key (usually a visitor code or an internal user ID)
        - name: pretty
          in: query
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /data/map/maps:
    get:
      summary: Retrieve data for several keys
      operationId: getMaps
      tags:
        - Data API - Map
      parameters:
        - name: siteCode
          in: query
          required: true
          schema:
            type: string
        - name: keys
          in: query
          required: true
          schema:
            type: string
            description: List of unique keys encoded as JSON array
            example: '["key1","key2"]'
        - name: pretty
          in: query
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      summary: Post data for several keys
      operationId: postMaps
      tags:
        - Data API - Map
      parameters:
        - name: siteCode
          in: query
          required: true
          schema:
            type: string
        - name: ttl
          in: query
          schema:
            type: integer
            default: 2208
            description: Time-to-live in hours
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
      responses:
        "204":
          description: URL query processed successfully
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "413":
          $ref: "#/components/responses/BodyTooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /data/product/productCounters:
    get:
      summary: Retrieve counts for several products
      operationId: getProductCounters
      tags:
        - Data API - Product
      parameters:
        - name: siteCode
          in: query
          required: true
          schema:
            type: string
        - name: eans
          in: query
          required: true
          schema:
            type: string
            description: List of product Ids / EANs encoded as JSON array
        - name: dateFrom
          in: query
          schema:
            type: integer
            description: UNIX millisecond timestamp
        - name: dateTo
          in: query
          schema:
            type: integer
            description: UNIX millisecond timestamp
        - name: pretty
          in: query
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties:
                    v:
                      type: integer
                      description: number of views
                    atcq:
                      type: integer
                      description: add to cart quantities
                    bq:
                      type: integer
                      description: transaction quantities
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /data/product/productData:
    get:
      summary: Retrieve attributes for several products
      operationId: getProductData
      tags:
        - Data API - Product
      parameters:
        - name: siteCode
          in: query
          required: true
          schema:
            type: string
        - name: eans
          in: query
          required: true
          schema:
            type: string
            description: List of product Ids / EANs encoded as JSON array
        - name: all
          in: query
          schema:
            type: boolean
            default: false
        # Adding a selection of boolean flags as optional parameters
        - name: name
          in: query
          schema: { type: boolean, default: false }
        - name: categories
          in: query
          schema: { type: boolean, default: false }
        - name: url
          in: query
          schema: { type: boolean, default: false }
        - name: imageURL
          in: query
          schema: { type: boolean, default: false }
        - name: available
          in: query
          schema: { type: boolean, default: false }
        - name: price
          in: query
          schema: { type: boolean, default: false }
        - name: pretty
          in: query
          schema: { type: boolean, default: false }
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /data/product/events:
    post:
      summary: Post attributes and events for several products
      operationId: postProductEvents
      tags:
        - Data API - Product
      parameters:
        - name: siteCode
          in: query
          required: true
          schema:
            type: string
        - name: ean
          in: query
          schema:
            type: string
            description: Common Product Id / EAN
        - name: json
          in: query
          schema:
            type: boolean
            default: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required: [eventType]
                properties:
                  eventType:
                    type: string
                    enum: [PRODUCTPAGE, PRODUCTADDTOCART, PRODUCTBUY]
                  ean:
                    type: string
                  name:
                    type: string
                  description:
                    type: string
                  price:
                    type: number
          text/plain:
            schema:
              type: string
              description: Line-separated query strings
      responses:
        "204":
          description: Processed successfully
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "413":
          $ref: "#/components/responses/BodyTooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /data/visit/visitor:
    get:
      summary: Retrieve activity feed for a given user
      operationId: getVisitor
      tags:
        - Data API - Visit
      parameters:
        - name: siteCode
          in: query
          required: true
          schema:
            type: string
        - name: currentVisit
          in: query
          schema: { type: boolean, default: false }
        - name: maxNumberPreviousVisits
          in: query
          schema: { type: integer }
        - name: visitorCode
          in: query
          schema: { type: string }
        - name: mappingValue
          in: query
          schema: { type: string }
        - name: all
          in: query
          schema: { type: boolean, default: false }
        - name: page
          in: query
          schema: { type: boolean, default: false }
        - name: conversion
          in: query
          schema: { type: boolean, default: false }
        - name: experiment
          in: query
          schema: { type: boolean, default: false }
        - name: customData
          in: query
          schema: { type: boolean, default: false }
        - name: pretty
          in: query
          schema: { type: boolean, default: false }
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  currentVisit:
                    type: object
                  previousVisits:
                    type: array
                    items:
                      type: object
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /data/visit/events:
    post:
      summary: Post data for a given visitor
      operationId: postVisitEvents
      tags:
        - Data API - Visit
      parameters:
        - name: siteCode
          in: query
          required: true
          schema:
            type: string
        - name: visitorCode
          in: query
          schema:
            type: string
        - name: json
          in: query
          schema:
            type: boolean
            default: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required: [eventType]
                properties:
                  eventType:
                    type: string
                    enum: [STATICDATA, PAGE, CONVERSION, EXPERIMENT, CUSTOMDATA]
                  visitorCode:
                    type: string
                  nonce:
                    type: string
          text/plain:
            schema:
              type: string
              description: Line-separated query strings
      responses:
        "204":
          description: Processed successfully
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "413":
          $ref: "#/components/responses/BodyTooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /data/visit/forget:
    post:
      summary: Remove data for several visitors
      operationId: forgetVisitors
      tags:
        - Data API - Visit
      parameters:
        - name: siteCode
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
              description: List of visitor codes, one per line
      responses:
        "204":
          description: Processed successfully
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "413":
          $ref: "#/components/responses/BodyTooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalServerError"

components:
  schemas:
    Account:
      type: object
      properties:
        id:
          type: integer
          format: int64
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        amClientId:
          type: string
        amClientSecret:
          type: string
        dateCreated:
          type: string
          format: date-time
        imageURL:
          type: string
        isPasswordExpired:
          type: boolean
        isProductRecoAllowed:
          type: boolean
        passwordBlocked:
          type: boolean
        preferredLocale:
          type: string
          enum: [fr, en, de]
        roles:
          type: array
          items:
            $ref: "#/components/schemas/Role"
        solutions:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [CREATED, ACTIVATED, DEACTIVATED]
        teamId:
          type: integer
          format: int64

    AccountInput:
      type: object
      properties:
        amClientId:
          type: string
        amClientSecret:
          type: string
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        imageURL:
          type: string
        isPasswordExpired:
          type: boolean
        isProductRecoAllowed:
          type: boolean
        passwordBlocked:
          type: boolean
        preferredLocale:
          type: string
          enum: [fr, en, de]
        roles:
          type: array
          items:
            $ref: "#/components/schemas/Role"
        solutions:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [CREATED, ACTIVATED, DEACTIVATED]
        teamId:
          type: integer
          format: int64

    Role:
      type: object
      properties:
        customers:
          type: array
          items:
            type: integer
            format: int64
        name:
          type: string
        privileges:
          type: array
          items:
            type: string
        sites:
          type: array
          items:
            type: integer
            format: int64

    ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        name:
          type: string
        status:
          type: string
        timestamp:
          type: string
          format: date-time

  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Locked:
      description: Locked
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    BodyTooLarge:
      description: Body Too Large
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    RateLimited:
      description: Rate Limited
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
